# Temporary Rojo project file
default.project.json

# Project place file
/SurviveArcade.rbxl

# Log files
syncback.log

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# roblox-ts
/node_modules
/out
/include
*.tsbuildinfo
flamework.build
