name: Release Beta

on:
  push:
    branches: [main]
    paths-ignore:
      - "README.md"

concurrency:
  group: beta_environment
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.JS
        uses: bahmutov/npm-install@v1

      - name: Setup Aftman
        uses: ok-nick/setup-aftman@v0.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build project
        run: yarn build-elf && yarn build-human

      - name: Deploy start Place to Roblox
        run: rbxcloud experience publish -f SurviveArcade.rbxl -p 15699266223 -u 5423515099 -t published -a ${{ secrets.ROBLOX_API_KEY }}

      - name: Deploy human Place to Roblox
        run: rbxcloud experience publish -f SurviveArcadeHuman.rbxl -p 16860946152 -u 5423515099 -t published -a ${{ secrets.ROBLOX_API_KEY }}
